@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>
    
    Mario Jung<br />
    Av. Eva Peron 3234<br />
    <abbr title="Telefono">Telefono:</abbr>
    1166956226

</h3>

@*<address>
    Mario Jung<br />
    Av. Eva Peron 3234<br />
    <abbr title="Telefono">Telefono:</abbr>
    1166956226
</address>*@

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@